@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --bg: #EFF0F6;
}

body {
  height: 100vh;
  background: var(--bg);
  font-family: 'Poppins', sans-serif;
  background-image: 
    url(./images/bg__left.svg),
    url(./images/bg__top-right.svg),
    url(./images/bg__btm-right.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left, top right, bottom right;
}

.wrapper {
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(375px, 375px));
  grid-gap: 50px;
  justify-content: center;
}

.window {
  background: #FFF;
  height: 812px;
  border-radius: 25px;
  box-shadow: 0 0 70px #C7CBE3;
}

.window__title {
  margin: 50px 40px;
}

.cart__message--empty {
  margin-left: 40px;
}

.menu-item {
  list-style: none;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: repeat(3, 1fr);

  /* grid-template-areas: 
    "image title title"
    "image price price"
    "image button button" */
}

.menu-item__image {
  width: 100%;
  /* grid-area: image; */
  grid-row: 1 / -1;
}

/* .menu-item__title {
  grid-area: title;
}
.menu-item__price {
  grid-area: price;
}
.menu-item__button {
  grid-area: button;
} */