@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --bg: #EFF0F6;
  --btn-primary: hsl(266, 100%, 48%);
  --btn-primary--hover: hsl(266, 100%, 30%);
}

body {
  height: 100vh;
  background: var(--bg);
  font-family: 'Poppins', sans-serif;
  background-image: 
    url(./images/bg__left.svg),
    url(./images/bg__top-right.svg),
    url(./images/bg__btm-right.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left, top right, bottom right;
}

.wrapper {
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(375px, 375px));
  grid-gap: 50px;
  justify-content: center;
}

.window {
  background: #FFF;
  max-height: 812px;
  min-height: 500px;
  border-radius: 25px;
  box-shadow: 0 0 70px #C7CBE3;
}

.window ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.window__title {
  margin: 50px 40px;
}

.cart__message--empty {
  margin-left: 40px;
}
/* MENU */

.menu {
  overflow-y: hidden;
}

.menu-item {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: repeat(4, 43px);
  column-gap: 20px;
}

.menu-item::before {
  background: hsla(212, 83%, 72%, .2);
  content: '';
  position: absolute;
  margin: 20px 0 10px 20px;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 25px 0 0 25px;
  z-index: -1;
}

.menu-item:nth-child(2n)::before {
  background: hsla(329, 72%, 69%, .2);
}

.menu-item:nth-child(3n)::before {
  background: hsla(240, 74%, 91%, .2);
}

.menu-item:nth-child(4n)::before {
  background: hsla(152, 89%, 72%, .2);
}

.menu-item > * {
  margin: 0;
}

.menu-item__image {
  width: 100%;
  grid-row: 1 / -1;
}

.menu-item__title {
  grid-row: 2 / 2;
  font-size: 18px;
  font-weight: 500;
}

.menu-item__price {
  grid-row: 3 / 3;
  align-self: center;
  font-size: 32px;
  font-weight: 700;
}


.menu-item__button {
  grid-row: span 1 / -1;
  background: var(--btn-primary);
  color: white;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  width: 130px;
  height: 32px;
  align-self: end;
  transform: translateY(0);
  transition: 0.1s;
}

.menu-item__button:hover,
.menu-item__button:focus {
  background: var(--btn-primary--hover);
  transform: translateY(2px);
}

/* CART */

