@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --bg: #EFF0F6;
}

body {
  height: 100vh;
  background: var(--bg);
  font-family: 'Poppins', sans-serif;
  background-image: 
    url(./images/bg__left.svg),
    url(./images/bg__top-right.svg),
    url(./images/bg__btm-right.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left, top right, bottom right;
}

.wrapper {
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(375px, 375px));
  grid-gap: 50px;
  justify-content: center;
}

.window {
  background: #FFF;
  max-height: 812px;
  min-height: 500px;
  border-radius: 25px;
  box-shadow: 0 0 70px #C7CBE3;
}

.window ul {
  margin: 0 auto;
  padding: 0;
}

.window__title {
  margin: 50px 40px;
}

.cart__message--empty {
  margin-left: 40px;
}

.menu-item {
  position: relative;
  list-style: none;
  z-index: 1;
}

.menu-item::before {
  background: hsla(212, 83%, 72%, .2);
  content: '';
  position: absolute;
  margin: 20px 0 10px 20px;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 25px 0 0 25px;
  z-index: -1;
}

.menu-item:nth-child(2)::before {
  background: hsla(329, 72%, 69%, .2);
}

.menu-item:nth-child(3)::before {
  background: hsla(240, 74%, 91%, .2);
}

.menu-item:nth-child(4)::before {
  background: hsla(152, 89%, 72%, .2);
}

.menu-item__container {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: repeat(4, 43px);
}


.menu-item > * {
  margin: 0;
}

.menu-item__image {
  width: 100%;
  grid-row: 1 / -1;
}

.menu-item__title {
  grid-row: 2 / 2;
}

.menu-item__price {
  grid-row: 3 / 3;
}


.menu-item__button {
  grid-row: span 1 / -1;
}